:root {
    --branding-color: #6c63ff;
    --heading-font-family: 'Playfair Display',
        serif;
    --default-font-family: 'Poppins',
        sans-serif;
    --secondary-color: #f9f7fe;

}

body {
    font-family: var(--default-font-family);
}

h1,
h2 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #272142;
}

.hero h2 {
    line-height: 2;
    font-weight: 500;
    font-size: 24px;
    color: #272142;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    font-family: var(--default-font-family);
}

.btn-branding:hover,
.btn-branding:active {
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    background: var(--secondary-color);
}

.btn-branding-outline {
    color: var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    font-family: var(--default-font-family);
    border: 1px solid var(--branding-color);
}

.btn-branding-outline:hover,
.btn-branding-outline:active {
    color: #fff;
    background: var(--branding-color);
}

.project-desc {
    padding: 120px 0;
}

@media(max-width:1200px) {
    .project-desc {
        padding: 0;
    }

    h2 {
        font-size: 58px;
    }
}

@media(max-width:991px) {
    .project-desc {
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }
}

@media(max-width:400px) {

    h1 {
        font-size: 42px;
    }

}