:root {
    --branding-color: #6c63ff;
    --heading-font-family: 'Playfair Display',
        serif;
    --default-font-family: 'Poppins',
        sans-serif;
    --secondary-color: #f9f7fe;

}

body {
    font-family: var(--default-font-family);
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 96px;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #272142;
    opacity: 0.7;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #272142;
    opacity: 1;

}

h2 {
    line-height: 2;
    font-weight: 500;
    font-size: 24px;
    color: #272142;
}

.project-desc h2 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 64px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    font-family: var(--default-font-family);
}

.btn-branding:hover,
.btn-branding:active {
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    background: var(--secondary-color);
}

.btn-branding-outline {
    color: var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    font-family: var(--default-font-family);
    border: 1px solid var(--branding-color);
}

.btn-branding-outline:hover,
.btn-branding-outline:active {
    color: #fff;
    background: var(--branding-color);
}

.project-desc {
    padding: 120px 0;
}

.content-container {
    padding: 40px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 1.25;
}

.content h2 {
    font-size: 18px;
    font-weight: 700;
}

.content {
    margin: 30px;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-weight: 700;

}

.content p {
    font-size: 14px;
}

.photo {
    border-radius: 12px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    max-height: 40px;
}

nav {
    padding: 20px 0px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    opacity: 0.7;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);
}

footer {
    margin: 120px 0;
}

footer .contact-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--secondary-color);
    padding: 40px 120px;
    margin-bottom: 60px;
    border-radius: 10px;
}

footer .contact-box h4 {
    font-size: 48px;
    font-family: var(--heading-font-family);
    font-weight: 700;
}

footer .contact-box p {
    font-size: 18px;
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

footer .social-links a {
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: #fff;
    background: var(--branding-color);
}

@media(max-width:1200px) {
    .project-desc {
        padding: 0;
    }
}

@media(max-width:991px) {

    .content-container,
    .project-desc {
        text-align: center;
    }

    .content-container {
        padding: 0 12px;
    }

    h1 {
        font-size: 60px;
    }

    .project-desc h2 {
        font-size: 48px;
    }

    .hero {
        padding: 80px 20px;
    }

    footer .contact-box {
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
}

@media(max-width:400px) {

    h1 {
        font-size: 42px;
    }

    .content h1 {
        font-size: 38px;
    }

    .project-desc h2 {
        font-size: 42px;
    }

    footer .email-link {
        font-size: 18px;
    }
}